<a href="https://colab.research.google.com/github/swapnilbpatil/Required-Notebook/blob/main/Car_insurance_claim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Task-1:Data loading and cleaning**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("pah.csv")

In [3]:
df.head()

          ID  KIDSDRIV   AGE  HOMEKIDS  ...  MVR_PTS CLM_AMT CAR_AGE CLAIM_FLAG
0   63581743         0  60.0         0  ...        3      $0    18.0          0
1  132761049         0  43.0         0  ...        0      $0     1.0          0
2  921317019         0  48.0         0  ...        2      $0    10.0          0
3  727598473         0  35.0         1  ...        3      $0    10.0          0
4  450221861         0  51.0         0  ...        0      $0     6.0          0

[5 rows x 25 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10302 entries, 0 to 10301
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          10302 non-null  int64
 1   KIDSDRIV    10302 non-null  int64
 2   AGE         10295 non-null  float64
 3   HOMEKIDS    10302 non-null  int64
 4   YOJ         9754 non-null   float64
 5   INCOME      9732 non-null   object
 6   PARENT1     10302 non-null  object
 7   HOME_VAL    9727 non-null   object
 8   MSTATUS     10302 non-null  object
 9   GENDER      10302 non-null  object
 10  EDUCATION   10302 non-null  object
 11  OCCUPATION  9637 non-null   object
 12  TRAVTIME    10302 non-null  int64
 13  CAR_USE     10302 non-null  object
 14  BLUEBOOK    10302 non-null  object
 15  TIF         10302 non-null  int64
 16  CAR_TYPE    10302 non-null  object
 17  RED_CAR     10302 non-null  object
 18  OLDCLAIM    10302 non-null  object
 19  CLM_FREQ    10302 non-null  int64
 20  REVOKED     10302 non-null  object
 21  MVR_PTS     10302 non-null  int64
 22  CLM_AMT     10302 non-null  object
 23  CAR_AGE     9663 non-null   float64
 24  CLAIM_FLAG  10302 non-null  int64
dtypes: float64(3), int64(8), object(14)
memory usage: 2.0+ MB

In [5]:
df.shape

(10302, 25)

In [6]:
df.columns

Index(['ID', 'KIDSDRIV', 'AGE', 'HOMEKIDS', 'YOJ', 'INCOME', 'PARENT1',
       'HOME_VAL', 'MSTATUS', 'GENDER', 'EDUCATION', 'OCCUPATION', 'TRAVTIME',
       'CAR_USE', 'BLUEBOOK', 'TIF', 'CAR_TYPE', 'RED_CAR', 'OLDCLAIM',
       'CLM_FREQ', 'REVOKED', 'MVR_PTS', 'CLM_AMT', 'CAR_AGE', 'CLAIM_FLAG'],
      dtype='object')

In [7]:
for col in ['INCOME','HOME_VAL','BLUEBOOK','OLDCLAIM','CLM_AMT']:
    df[col] = df[col].str.replace("$", '')
    df[col] = df[col].str.replace(",", '')
df

              ID  KIDSDRIV   AGE  ...  CLM_AMT  CAR_AGE CLAIM_FLAG
0       63581743         0  60.0  ...        0     18.0          0
1      132761049         0  43.0  ...        0      1.0          0
2      921317019         0  48.0  ...        0     10.0          0
3      727598473         0  35.0  ...        0     10.0          0
4      450221861         0  51.0  ...        0      6.0          0
...          ...       ...   ...  ...      ...      ...        ...
10297   67790126         1  45.0  ...        0     17.0          0
10298   61970712         0  46.0  ...        0      1.0          0
10299  849208064         0  48.0  ...        0      1.0          0
10300  627828331         0  50.0  ...        0     11.0          0
10301  680381960         0  52.0  ...        0      9.0          0

[10302 rows x 25 columns]

In [8]:
X = df.iloc[:,:-1]

In [9]:
X

              ID  KIDSDRIV   AGE  HOMEKIDS  ...  REVOKED MVR_PTS CLM_AMT CAR_AGE
0       63581743         0  60.0         0  ...       No       3       0    18.0
1      132761049         0  43.0         0  ...       No       0       0     1.0
2      921317019         0  48.0         0  ...       No       2       0    10.0
3      727598473         0  35.0         1  ...       No       3       0    10.0
4      450221861         0  51.0         0  ...       No       0       0     6.0
...          ...       ...   ...       ...  ...      ...     ...     ...     ...
10297   67790126         1  45.0         2  ...       No       2       0    17.0
10298   61970712         0  46.0         0  ...       No       0       0     1.0
10299  849208064         0  48.0         0  ...       No       0       0     1.0
10300  627828331         0  50.0         0  ...       No       0       0    11.0
10301  680381960         0  52.0         0  ...       No       0       0     9.0

[10302 rows x 24 columns]

In [10]:
y=df.iloc[:,-1]

In [11]:
y

0        0
1        0
2        0
3        0
4        0
        ..
10297    0
10298    0
10299    0
10300    0
10301    0
Name: CLAIM_FLAG, Length: 10302, dtype: int64

In [12]:
count = y.value_counts()

In [13]:
count

0    7556
1    2746
Name: CLAIM_FLAG, dtype: int64

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=6)

In [15]:
X_train

              ID  KIDSDRIV   AGE  HOMEKIDS  ...  REVOKED MVR_PTS CLM_AMT CAR_AGE
7660   915078478         0  46.0         0  ...       No       4       0     NaN
3581   144269185         0  56.0         0  ...       No       1    4281    10.0
5174   631762912         0  50.0         0  ...       No       0       0     7.0
1012   509427828         1  42.0         2  ...       No       3    3753     9.0
7546   243463686         0  53.0         0  ...       No       2    1441     5.0
...          ...       ...   ...       ...  ...      ...     ...     ...     ...
8527    43102423         0  57.0         0  ...       No       0   34640    11.0
4714   314541945         0  37.0         0  ...      Yes       4       0     9.0
10196  283591503         0  16.0         1  ...       No       2       0     7.0
8419   601094820         0  40.0         0  ...       No       0       0     4.0
2761   927532604         0  58.0         0  ...      Yes       3    3776     8.0

[7211 rows x 24 columns]

# **Task-2:Convert Datatypes**

In [16]:
for col in ['INCOME','HOME_VAL','BLUEBOOK','OLDCLAIM','CLM_AMT']:
    X_train[col] = X_train[col].astype('float')
    X_test[col] = X_test[col].astype('float')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7211 entries, 7660 to 2761
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          7211 non-null   int64
 1   KIDSDRIV    7211 non-null   int64
 2   AGE         7207 non-null   float64
 3   HOMEKIDS    7211 non-null   int64
 4   YOJ         6820 non-null   float64
 5   INCOME      6819 non-null   float64
 6   PARENT1     7211 non-null   object
 7   HOME_VAL    6812 non-null   float64
 8   MSTATUS     7211 non-null   object
 9   GENDER      7211 non-null   object
 10  EDUCATION   7211 non-null   object
 11  OCCUPATION  6746 non-null   object
 12  TRAVTIME    7211 non-null   int64
 13  CAR_USE     7211 non-null   object
 14  BLUEBOOK    7211 non-null   float64
 15  TIF         7211 non-null   int64
 16  CAR_TYPE    7211 non-null   object
 17  RED_CAR     7211 non-null   object
 18  OLDCLAIM    7211 non-null   float64
 19  CLM_FREQ    7211 non-null   int64
 20  REVOKED     7211 non-null   object
 21  MVR_PTS     7211 non-null   int64
 22  CLM_AMT     7211 non-null   float64
 23  CAR_AGE     6773 non-null   float64
dtypes: float64(8), int64(7), object(9)
memory usage: 1.4+ MB

In [18]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3091 entries, 8307 to 7208
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          3091 non-null   int64
 1   KIDSDRIV    3091 non-null   int64
 2   AGE         3088 non-null   float64
 3   HOMEKIDS    3091 non-null   int64
 4   YOJ         2934 non-null   float64
 5   INCOME      2913 non-null   float64
 6   PARENT1     3091 non-null   object
 7   HOME_VAL    2915 non-null   float64
 8   MSTATUS     3091 non-null   object
 9   GENDER      3091 non-null   object
 10  EDUCATION   3091 non-null   object
 11  OCCUPATION  2891 non-null   object
 12  TRAVTIME    3091 non-null   int64
 13  CAR_USE     3091 non-null   object
 14  BLUEBOOK    3091 non-null   float64
 15  TIF         3091 non-null   int64
 16  CAR_TYPE    3091 non-null   object
 17  RED_CAR     3091 non-null   object
 18  OLDCLAIM    3091 non-null   float64
 19  CLM_FREQ    3091 non-null   int64
 20  REVOKED     3091 non-null   object
 21  MVR_PTS     3091 non-null   int64
 22  CLM_AMT     3091 non-null   float64
 23  CAR_AGE     2890 non-null   float64
dtypes: float64(8), int64(7), object(9)
memory usage: 603.7+ KB

In [20]:
X_test.isnull().sum()

ID              0
KIDSDRIV        0
AGE             3
HOMEKIDS        0
YOJ           157
INCOME        178
PARENT1         0
HOME_VAL      176
MSTATUS         0
GENDER          0
EDUCATION       0
OCCUPATION    200
TRAVTIME        0
CAR_USE         0
BLUEBOOK        0
TIF             0
CAR_TYPE        0
RED_CAR         0
OLDCLAIM        0
CLM_FREQ        0
REVOKED         0
MVR_PTS         0
CLM_AMT         0
CAR_AGE       201
dtype: int64

# **Task-3:Dealing with missing values**

In [22]:
df[['YOJ','OCCUPATION']]

        YOJ     OCCUPATION
0      11.0   Professional
1      11.0  z_Blue Collar
2      11.0        Manager
3      10.0       Clerical
4      14.0  z_Blue Collar
...     ...            ...
10297   9.0        Manager
10298   9.0            NaN
10299  15.0  z_Blue Collar
10300   7.0     Home Maker
10301  11.0       Clerical

[10302 rows x 2 columns]

In [31]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6381 entries, 7660 to 2761
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          6381 non-null   int64
 1   KIDSDRIV    6381 non-null   int64
 2   AGE         6377 non-null   float64
 3   HOMEKIDS    6381 non-null   int64
 4   YOJ         6381 non-null   float64
 5   INCOME      6038 non-null   float64
 6   PARENT1     6381 non-null   object
 7   HOME_VAL    6038 non-null   float64
 8   MSTATUS     6381 non-null   object
 9   GENDER      6381 non-null   object
 10  EDUCATION   6381 non-null   object
 11  OCCUPATION  6381 non-null   object
 12  TRAVTIME    6381 non-null   int64
 13  CAR_USE     6381 non-null   object
 14  BLUEBOOK    6381 non-null   float64
 15  TIF         6381 non-null   int64
 16  CAR_TYPE    6381 non-null   object
 17  RED_CAR     6381 non-null   object
 18  OLDCLAIM    6381 non-null   float64
 19  CLM_FREQ    6381 non-null   int64
 20  REVOKED     6381 non-null   object
 21  MVR_PTS     6381 non-null   int64
 22  CLM_AMT     6381 non-null   float64
 23  CAR_AGE     5989 non-null   float64
dtypes: float64(8), int64(7), object(9)
memory usage: 1.2+ MB

In [24]:
X_train.dropna(subset=['YOJ','OCCUPATION'], inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6381 entries, 7660 to 2761
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          6381 non-null   int64
 1   KIDSDRIV    6381 non-null   int64
 2   AGE         6377 non-null   float64
 3   HOMEKIDS    6381 non-null   int64
 4   YOJ         6381 non-null   float64
 5   INCOME      6038 non-null   float64
 6   PARENT1     6381 non-null   object
 7   HOME_VAL    6038 non-null   float64
 8   MSTATUS     6381 non-null   object
 9   GENDER      6381 non-null   object
 10  EDUCATION   6381 non-null   object
 11  OCCUPATION  6381 non-null   object
 12  TRAVTIME    6381 non-null   int64
 13  CAR_USE     6381 non-null   object
 14  BLUEBOOK    6381 non-null   float64
 15  TIF         6381 non-null   int64
 16  CAR_TYPE    6381 non-null   object
 17  RED_CAR     6381 non-null   object
 18  OLDCLAIM    6381 non-null   float64
 19  CLM_FREQ    6381 non-null   int64
 20  REVOKED     6381 non-null   object
 21  MVR_PTS     6381 non-null   int64
 22  CLM_AMT     6381 non-null   float64
 23  CAR_AGE     5989 non-null   float64
dtypes: float64(8), int64(7), object(9)
memory usage: 1.2+ MB

In [27]:
X_test.dropna(subset=['YOJ','OCCUPATION'], inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
y_train.shape

(6381,)

In [28]:
y_train = y_train[X_train.index]

In [32]:
y_train.shape

(6381,)

In [34]:
y_test = y_test[X_test.index]

In [35]:
y_test.shape

(2744,)

In [36]:
#fill the missing values for columns
for col in ['AGE','CAR_AGE','INCOME','HOME_VAL']:
  X_train[col].fillna(X_train[col].mean(),inplace=True)
  X_test[col].fillna(X_train[col].mean(),inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

# **Task:4-Convert the categorical values to numeric value**

In [38]:
from sklearn.preprocessing import LabelEncoder
columns = ["PARENT1","MSTATUS","GENDER","EDUCATION","OCCUPATION","CAR_USE","CAR_TYPE","RED_CAR","REVOKED"]

In [39]:
for col in columns:
    le = LabelEncoder()
    X_train[col]=le.fit_transform(X_train[col].astype(str))
    X_test[col]=le.fit_transform(X_test[col].astype(str))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

# **Task-5:Prediction check**

In [40]:
from sklearn.metrics import precision_score 
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [41]:
model = LogisticRegression(random_state = 6)

In [42]:
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=6, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
y_pred = model.predict(X_test)

In [45]:
score = accuracy_score(y_test,y_pred)
print('The accuracy_score:',score)

The accuracy_score: 0.7408892128279884

# **Task-6:Dealing with Imbalnced data**

In [46]:
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [47]:
smote = SMOTE(random_state = 9)

In [48]:
X_train,y_train = smote.fit_sample(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [49]:
scaler = StandardScaler()

In [51]:
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

# Task-7:Prediction Check after dealing with imbalanced data

In [52]:
model = LogisticRegression()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
score = accuracy_score(y_test,y_pred)
print(' The Accuracy Score:',score)

 The Accuracy Score: 0.9905247813411079