<a href="https://colab.research.google.com/github/swapnilbpatil/Required-Notebook/blob/main/LogisticRegression_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.metrics import roc_auc_score

# **Introduction to the dataset**

In [104]:
data = pd.read_csv("Path.csv")

In [105]:
data.shape

(1372, 5)

In [106]:
data.isnull().sum()

variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

In [107]:
data.columns

Index(['variance', 'skewness', 'curtosis', 'entropy', 'class'], dtype='object')

# **Sigmoid**

In [108]:
def sigmoid(x):
    sigmoid = 1 / (1 + np.exp(x))
    return sigmoid
result =  sigmoid(0)

In [109]:
result

0.5

# **Model building using scikit-learn**

In [110]:
data.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [111]:
X = data.drop(columns='class')

In [112]:
X

      variance  skewness  curtosis  entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1367   0.40614   1.34920   -1.4501 -0.55949
1368  -1.38870  -4.87730    6.4774  0.34179
1369  -3.75030 -13.45860   17.5932 -2.77710
1370  -3.56370  -8.38270   12.3930 -1.28230
1371  -2.54190  -0.65804    2.6842  1.19520

[1372 rows x 4 columns]

In [113]:
y = data['class']

In [114]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1367    1
1368    1
1369    1
1370    1
1371    1
Name: class, Length: 1372, dtype: int64

In [115]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=42)

In [116]:
X_train

      variance  skewness  curtosis   entropy
529   -1.38850   12.5026   0.69118 -7.548700
243    2.77440    6.8576  -1.06710  0.075416
1309  -4.28870   -7.8633  11.83870 -1.897800
664    5.35860    3.7557  -1.73450  1.078900
745    0.75736    3.0294   2.91640 -0.068117
...        ...       ...       ...       ...
1095   1.16400    3.9130  -4.55440 -3.867200
1130  -2.29180   -7.2570   7.95970  0.921100
1294  -7.03640    9.2931   0.16594 -4.539600
860   -3.46050    2.6901   0.16165 -1.022400
1126  -3.35820   -7.2404  11.44190 -0.571130

[1097 rows x 4 columns]

In [117]:
scaler= MinMaxScaler()

In [118]:
scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [119]:
X_train = scaler.transform(X_train)

In [120]:
X_test = scaler.transform(X_test)

In [121]:
model = LogisticRegression()

In [122]:
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [123]:
y_pred = model.predict(X_test)

In [124]:
cf = confusion_matrix(y_test, y_pred)

In [125]:
cf

array([[144,   4],
       [  7, 120]])

In [126]:
acc = accuracy_score(y_test, y_pred)

In [127]:
acc

0.96

In [128]:
precision = precision_score(y_test, y_pred)
precision

0.967741935483871

In [129]:
recall = recall_score(y_test, y_pred)
recall

0.9448818897637795

In [130]:
f_score = f1_score(y_test, y_pred)
f_score

0.9561752988047808

# **ROC-AUC score**

In [131]:
roc = roc_auc_score(y_test, y_pred)

In [132]:
roc

0.9589274313683763