<a href="https://colab.research.google.com/github/swapnilbpatil/Required-Notebook/blob/main/Moving_to_Melbourne_Housing_Again.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline

# **Task-1 = Data Loading and Splitting**

In [2]:
df = pd.read_csv("path.csv")

In [3]:
df.head()

   Rooms  Type    Price  ...  Longtitude  Regionname  Propertycount
0      2     0  1035000  ...    144.9934           2           4019
1      3     0  1465000  ...    144.9944           2           4019
2      4     0  1600000  ...    144.9941           2           4019
3      3     0  1876000  ...    144.9993           2           4019
4      2     0  1636000  ...    144.9954           2           4019

[5 rows x 16 columns]

In [4]:
df.shape

(6830, 16)

In [5]:
df.size

109280

In [6]:
X = df.drop(["Price"],axis=1)
X

      Rooms  Type  Method  ...  Longtitude  Regionname  Propertycount
0         2     0       1  ...   144.99340           2           4019
1         3     0       3  ...   144.99440           2           4019
2         4     0       4  ...   144.99410           2           4019
3         3     0       1  ...   144.99930           2           4019
4         2     0       1  ...   144.99540           2           4019
...     ...   ...     ...  ...         ...         ...            ...
6825      2     0       0  ...   145.07878           2           2329
6826      4     0       1  ...   144.64789           6          16166
6827      3     0       3  ...   144.87904           6           6380
6828      4     0       0  ...   144.89299           6           6380
6829      4     0       3  ...   144.88449           6           6543

[6830 rows x 15 columns]

In [7]:
y = df["Price"]

In [8]:
y

0       1035000
1       1465000
2       1600000
3       1876000
4       1636000
         ...
6825     650000
6826     635000
6827    1031000
6828    2500000
6829    1285000
Name: Price, Length: 6830, dtype: int64

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state = 6)

In [10]:
X_train

      Rooms  Type  Method  ...  Longtitude  Regionname  Propertycount
124       3     2       1  ...   145.01600           5           4836
5905      2     0       1  ...   144.98863           2           4553
5963      3     0       1  ...   145.06912           2          10529
3521      4     0       1  ...   144.87960           6           6380
3738      3     0       1  ...   144.96860           2           5070
...     ...   ...     ...  ...         ...         ...            ...
335       3     0       1  ...   145.09490           5           7809
4714      3     2       1  ...   145.04924           5           7822
2004      5     0       1  ...   145.04110           5          10331
227       4     0       1  ...   145.07700           5           3052
2761      3     0       1  ...   145.00040           2          21650

[4781 rows x 15 columns]

In [11]:
X_test

      Rooms  Type  Method  ...  Longtitude  Regionname  Propertycount
5067      4     0       1  ...   145.13286           4           2076
3722      4     0       1  ...   144.97030           2           5070
6820      5     0       1  ...   145.11320           0           5420
3103      2     2       1  ...   144.98860           5          14887
2820      3     0       1  ...   145.02120           2          21650
...     ...   ...     ...  ...         ...         ...            ...
6339      3     0       1  ...   145.18975           0           6871
2687      3     0       1  ...   145.00810           2          14577
2564      4     0       3  ...   144.94610           2           7485
290       5     0       0  ...   145.07680           5           5682
239       4     0       1  ...   145.10230           5           2894

[2049 rows x 15 columns]

In [12]:
corr = X_train.corr()

In [13]:
corr

                  Rooms      Type  ...  Regionname  Propertycount
Rooms          1.000000 -0.590817  ...   -0.009092      -0.106854
Type          -0.590817  1.000000  ...    0.055988       0.111803
Method        -0.053525  0.088308  ...    0.033184      -0.024244
SellerG       -0.029506  0.026955  ...    0.023397       0.063498
Distance       0.289699 -0.242188  ...   -0.089077      -0.063805
Postcode       0.050753  0.018737  ...    0.006935       0.058458
Bathroom       0.607276 -0.276890  ...    0.037968      -0.058078
Car            0.420030 -0.278868  ...    0.005941      -0.032157
Landsize       0.092030 -0.043433  ...   -0.012608      -0.019397
BuildingArea   0.595395 -0.386768  ...    0.033615      -0.071308
YearBuilt     -0.056373  0.304479  ...   -0.014789       0.015524
CouncilArea   -0.207234  0.159736  ...   -0.046359       0.017378
Longtitude     0.095944  0.000434  ...   -0.480664       0.045455
Regionname    -0.009092  0.055988  ...    1.000000      -0.141699
Propertycount -0.106854  0.111803  ...   -0.141699       1.000000

[15 rows x 15 columns]

# **Task-2 = Prediction Using Linear Regression**

In [14]:
regressor = LinearRegression()

In [15]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
y_pred = regressor.predict(X_test)

In [17]:
r2 = regressor.score(X_test,y_test)
r2

0.6108759228743502

# **Tasl-3 = Prediction Using Lasso**

In [18]:
lasso = Lasso()

In [19]:
lasso.fit(X_train,y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [20]:
lasso_pred = lasso.predict(X_test)

In [21]:
r2_lasso_1 = lasso.score(X_test,y_test)
r2_lasso_1

0.6108776228380532

# **task-4 = Prediction Using Ridge**

In [22]:
ridge = Ridge()

In [23]:
ridge.fit(X_train,y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [24]:
ridge_pred = ridge.predict(X_test)

In [25]:
r2_ridge = ridge.score(X_test,y_test)
r2_ridge

0.6112942316771465

# **Task-5 = Prediction Using Cross Validation**

In [26]:
regressor = LinearRegression()

In [27]:
score = cross_val_score(regressor,X_train,y_train,scoring = 'r2',cv=10)
score

array([0.59261059, 0.64601294, 0.70295375, 0.70614706, 0.45202523,
       0.60449834, 0.65860055, 0.66492627, 0.44047621, 0.63294729])

In [28]:
mean_score = np.mean(score)
mean_score

0.6101198231670789

# **Task-6 = Prediction Using Polynomial Regressor**

In [29]:
model = make_pipeline(PolynomialFeatures(2), LinearRegression())

In [30]:
model.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('polynomialfeatures',
                 PolynomialFeatures(degree=2, include_bias=True,
                                    interaction_only=False, order='C')),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [31]:
y_pred = model.predict(X_test)

In [32]:
r2_poly = model.score(X_test,y_test)
r2_poly

0.7137058454188571

In [33]:
r2_poly_1 = r2_score(y_pred,y_test)
r2_poly_1

0.6630997292827592